@media (max-width: 1199px){
    .promo{
        background: url("../img/bg/bg_main.jpg") 15% (center/cover) no-repeat;
    }
    
}
@media (max-width: 850px){
    .header{
        padding: 0 5px;
        &__logo{
            max-width: 30%;
        }
        &__text{
            font-size: 10px;
            span{
                font-size: 16px;
            }
        }
        &__phone{
            font-size: 14px;
            margin-right: 3px;
        }
    }
    .btn:not(.btn_submit,.btn_main){
        width: 135px;
        height: 25px;
        right: 0vw;
    }
    .btn_main{
        right: 0vw;
        width: 135px;
        height: 37px;
        font-size: 11px;
        padding-top: 4px;
    }
    .promo{
        background: url("../img/bg/bg_main.jpg") 85% (center/cover) no-repeat;
        &__sub-continer{
            align-items: center;
        }
        padding-bottom: 30px;
        &__icon{
            margin-left: 10px;
        }
    }
    .advantages{
        &__items-wrapper{
            display: flex;
            flex-direction: column;
            align-items:center;
        }
    }
    .title{
        &_left{
            font-size: 30px;
        }
    }
    .carousel{
        &__arrow-right, &__arrow-left{
            display: none;
        }
        &__slider-inner{
            img{
                width: 80vw;
            }
        }
        &-indicators{
            z-index: 15;
            display: flex;
            justify-content: center;
            &-dot{
                position: relative;
                width: 30px;
                height: 10px;
                margin-right: 3px;
                margin-left: 3px;
                cursor: pointer;
                background-color: #fff;
                border: 2px dotted $main-color;
                opacity: .5;
                transition: opacity .6s ease;
            }
        }
    }
    .active{
        background-color: $main-color;
    }
}
@media(max-width: 690px){
    .title{
        &_left{
            font-size: 25px;
        }
    }
    &__slider-inner{
        justify-content: space-between;
        img{
            display: block;
            margin: 0 auto;
            width: 80vw;
        }
    }
}
@media (max-width: 576px){
    .header{
        &__logo{
            margin-top: 5px;
            max-width: 50%;
        }
        &__text{
            display: none;
        }
    }
    .promo{
        &__main-title{
            font-size: 24px;
        }
        &__title{
            font-size: 14px;
        }
        &__icon{
            margin-left: 22px;
            &-text{
                font-size: 10px;
            }
        }
    }
    .title{
        font-size: 30px;
        text-align: center;
        &_br1{
            display: none;
        }
        &_br2{
            display: inline;
        }
    }
    .consultation{
        &__sub-title{
            font-size: 15px;
            text-align: center;
        }
    }
    .form{
        align-items: center;
    }
}
@media (max-width: 400px){
    .title{
        font-size: 23px;
    }
}