.btn{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border: none;
    position: relative;
    right: -1vw;
    &:focus{
        outline: none;
    }
    &:hover{
        cursor: pointer;
    }
    @include btn_hover;
    &_main{
        display: block;
        width: 300px;
        height: 50px;
        font-size: 16px;
        padding-top: 15px;
        right: 0%;
        margin-top: 68px;
        @include btn_hover;
    }
    &_submit{
        width: 300px;
        height: 55px;
        font-size: 16px;
        margin-left: -1vw;
        @include btn_hover;
    }
    &_min{
        display: block;
        width: 131px;
        height: 40px;
        font-size: 14px;
        margin-right: 9px;
        margin-top: 3px;
        @include btn_hover;
    }
}