.footer{
    position: relative;
    &__info{
        height: 270px;
        padding: 50px 0 72px 0;
        width: 460px;
        height: 270px;
        background-color: $main-color;
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        &-address{
            display: block;
            color: #ffffff;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 0px;
            line-height: 19px;
        }
        &-tel{
            display: block;
            margin-top: 36px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            line-height: 17px;
            
            @include phone_hover;
        }
        &-social-media{
            margin-top: 38px;
            display: flex;
            justify-content: center;
            &-icon{
                width: 50px;
                height: 50px;
                border: 2px solid #ffffff;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 15px 0 15px;
                @include btn_hover;
            }
        }
    }

}